.milk-card {
    display: grid;
    grid-template-rows: 60% 20% 20%;
    gap: 0.5rem;
    width: 40%;
    height:8rem;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    margin-bottom: 2.5%;
    padding: 0.5rem;
}

.milk-image {
    justify-self: center;
    align-self: center;
    width: 60%;
    height: 90%;
}

.milk-name {
    justify-self: center;
    max-height:100% ;
}

.milk-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.milk-type {
    justify-self: flex-start;
}


.bold {
    font-weight: bolder;
}

@media only screen and (min-width: 760px) {
    .milk-card{
        justify-self: center;
        width: 88%;
        height: 10rem;
    }
}