.heading{
  display: grid;
  height: 10%;
  background-color: white;
}

.heading-title {
  align-self: center;
  justify-self: center;
  margin: 0;
}
.main-display {
  height: 90%;
}

.utilities {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-field {
  margin-top: 3%;
  width: 55%;
}
