.heading{
  display: grid;
  height: 10%;
  background-color: white;
}

.heading-title {
  align-self: center;
  justify-self: center;
  margin: 0;
}
.main-display {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.utilities {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.search-field {
  justify-self: center;
  align-self: center;
  width: 55%;
}

@media only screen and (min-width: 760px) {
  .main-display{
    display: flex;
    flex-direction: column;
    height: unset;
    gap: 2rem;
  }
  .utilities {
    justify-content: space-around;
    align-self: center;
    width: 80%;
  }
}
